@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,700;1,300;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Varela Round', sans-serif;
    background-color: #f5eded;
}

section.about button a {
    font-family: 'Varela Round', sans-serif;
}

header a.brand,
section.hero h3,
section.about h2,
section.awards h2,
section.service h2,
section.contact h2,
head title {
    font-family: 'Playball', cursive;
}

header {
    position: sticky;
    width: 100%;
    height: 3.5rem;
    z-index: 99;
}

header nav a.brand,
header nav button {
    z-index: 100;
}

header nav {
    position: fixed;
    display: flex;
    width: 100%;
    flex-direction: row;
    align-self: center;
    align-items: center;
    /*background: rgb(255,255,255);
    /*background: linear-gradient(0deg, rgba(255,255,255,0) 6%, rgba(0,0,0,0.3393732492997199) 88%);*/
    
}

.black {
    background-color: black;
}

.nav-top-shawdow {
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,0) 6%, rgba(0,0,0,0.3393732492997199) 88%);
}

header .brand{
    flex-grow: 1;
    font-size: 2rem;
    text-shadow: 0px 0px .2rem black;
}

nav button {
    background-color: transparent;
    border: none;
}

nav button .fa-hamburger,
nav button .fa-times { 
    color: white;
    font-size: 1.6rem;
    text-shadow: 0px 0px 2px black;
}

header nav ul{
    height: 100%;
    display: flex;
    align-self: center;
    align-items: center;
    font-size: 1.5rem;
    list-style-type: none;
    overflow: hidden;
    text-shadow: 0px 0px 3px black;
}

header nav ul li {
    text-align: center;
}

header .brand,
nav ul li a,
section button a {
    color: #e6e1e1;
    padding: .5rem .7rem;
    text-decoration: none;
}

section button a {
    color: #525252;
    font-weight: 700;
}

section button {
    color: #333333;
    background-color: #ffd700;
    border: #ffd700 .2rem solid;
    border-radius: .5rem;
}

main {
    min-height: 60vh;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
}

section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

section:not(section.hero) {
    min-height: 70vh;
}

section.hero {
    display: block;
    background-image: url("../image1.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

section:not(section.hero) h2 {
    width: 80%;
}

section h2 {
    font-size: 2.5rem;
    letter-spacing: 2px;
    text-align: center;
    border-top: #ffd700 .4rem solid;
    border-bottom: #ffd700 .4rem solid;
    padding: .8rem .5rem;
}

section h3 {
    font-size: 2.2rem;
}

section h2,
section .container {
    margin-left: auto;
    margin-right: auto;
}

section.hero {
    position: relative;
    overflow: hidden;
}

.hero .overlayer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: rgb(226,224,224);
    background: linear-gradient(115deg, rgba(4,4,4,0.02784222737819031) 0%, rgba(0,0,0,0.34338747099767986) 35%, rgba(0,0,0,0.9002320185614849) 74%, rgba(0,0,0,1) 100%);
    background-size: cover;

    color: #e6e1e1;

    text-align: right;
}

.hero .overlayer .text-container {
    position: absolute;
}

.hero .overlayer .text-container h1 {
    border-top: #ffd700 .2rem solid;
    border-bottom: #ffd700 .2rem solid;
    display: inline-block;
}

.hero .overlayer .text-container h2 {
    margin-top: 1rem;
}

section.awards {
    height: 60vh;
    /*position: relative;*/
    background-color: black; color: blanchedalmond;
    justify-content: center;/*
    align-items: stretch;*/
}

section .container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 80%;
    min-height: fit-content;
    margin-left: auto;
    margin-right: auto;
}

section.about .container .about-text {
    width: 50%;
    min-height: 25vh;
    margin: 0 auto;
}

section.about .container .about-text p {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

section.about .container .button-container {
    text-align: center;
}

section.about .container .button-container button.download {
    margin: 1rem auto;
    padding: 1rem 2rem;
    font-size: 1.2rem;
}

section.awards {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    align-content: center;
    min-height: 60vh;
    height: 100%;
}

section.awards .container {
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

section.awards .img-container {
    background-image: url("../image6.jpeg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 25%;
    width: 30%;
    object-fit: cover;
}

.awards .awards-content {
    flex-grow: 2;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.awards .awards-content ul {
    padding: 1rem 2rem 1rem 3rem;
    vertical-align: middle;
    height: max-content;
}

.awards .awards-content ul li{
    margin-top: .4rem;
    margin-bottom: .4rem;
}

section.contact .container .contact-text {
    width: 50%;
    min-height: 25vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 576px ) {

    nav button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 15%;
    }

    nav button i.fa-times {
        display: none;
    }

    nav button .fa-hamburger,
    nav button .fa-hamburger::before,
    nav button .fa-times,
    nav button .fa-times::before {
        width: 2rem;
        margin-top: auto;
        margin-bottom: auto;
    }

    nav .burger-menu {
        position: absolute;
        top: -100vh;
        left: 0;
        padding-top: 2.5rem;
        width: 100vw;
        height: 100vh!important;
        background-color: #333333;
        padding-bottom: 3rem;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 50%;
    }

    nav ul li {
        margin-top: 1rem;
        width: 100vw;
    }

    nav ul li a {
        height: 2rem;
        width: 100%;
    }

    section.hero {
        background-position: 15%;
    }
    
    section.hero .overlayer .text-container h2 {
        margin-left: auto;
        margin-right: auto;
    }

    section .container {
        margin: 0;
        width: 100%;
    }

    section h2,
    section .container,
    section .container .about-text,
    section .container .contact-text {
        width: 90%!important;
        margin: 0 auto;
    }

    section.awards .img-container {
        display: none;
    }

    section.awards .awards-content,
    section.awards .awards-content ul {
        width: 90%;
        padding: 0;
        margin: 0 auto;
    }
}

@media screen and ( min-width: 577px ){
    nav button .fa-hamburger,
    nav button .fa-times {
        display: none;
    }
}

@media screen and (max-width: 768px) {

    section.hero {
        background-position: 25%;
    }
    
    section.hero .text-container {
        width: 90%;
        bottom: 2rem;
        right: 5%;
        left: 5%;
    }
    
    section .container .about-text {
        width: 100%;
    }

    section.about .container .about-text p,
    section.contact .container .contact-text p {
        padding-top: 1rem;
    }

    section.awards .img-container {
        background-image: none;
    }
}

@media screen and (min-width: 769px) {

    section .about-text,
    section .awards-content,
    section .contact-text {
        font-size: 1.2rem;
    }

    section.about .about-text,
    section.contact .container {
        margin-top: 1rem!important;
        width: 70%!important;
    }

    section.hero .overlayer .text-container {
        bottom: 5rem;
        right: 3rem;
    }

    section.awards .img-container {
        width: 40%;
    }

    section.awards .awards-content {
        width: 60%;
    }

    section.awards .awards-content ul{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}